snippet f
	Feature: ${1:Serve coffee}
snippet iot
	In order to ${1:serve some coffee}
snippet aa
	As a ${1:coffee maker}
snippet iwt
	I want to ${1:use the coffee machine}
snippet s
	Scenario: ${1:turn on the coffee machine}
snippet g
	Given ${1:I have a coffee machine}
snippet w
	When ${1:I plug the machine}
snippet a
	And ${1:I push the power button}
snippet t
	Then ${1:the coffee machine should turn on}
